body {
    font-family: 'DotGothic16', sans-serif;
    color: whitesmoke;
    background: black;
}

h1 {
    text-align: center;
}

.searchContainer {
    max-width: 400px;
    margin: 50px auto
}

input[type="text"] {
    display: block;
    width: calc(100%);
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    background: black;
    border-bottom: 2px solid #ffffff;
    border-top: black;
    border-left: black;
    border-right: black;
    font-family: 'DotGothic16';

}

.weatherContainer {
    background: pink;
    position: absolute;
    top: 65%;
    left: 50%;
    display: flex;
    flex-direction: column;
    height: 300px;
    transform: translate(-50%, -50%);
    width: 500px;
    border: 10px solid whitesmoke;
    background: #fff;
    height: auto;

}

.weatherIcon {
    height: 60%;
    display: flex;

}

.weatherInformation {
    background: blue;
    height: 40%;
    padding-top: 5%;

}

a {
    color: #fff;
}

.temperature {
    background-color: deepskyblue;
    flex: 0 60%;
    width: 100%;
    font-size: 65px;
    display: flex;
    justify-content: center;

}

.description {
    flex: 0 10%;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    background-color: blue;
    text-align: center;
}

.links a {
    display: inline;
    visibility: hidden;
}

#Info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weatherCondition {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 100;
}

#place {
    font-size: 25px;
}

img {
    height: 150px;
}